@using System.Globalization
@model List<About>

<div class="d-flex justify-content-between mb-3">
    <h1>Abouts</h1>
    <div class="d-flex justify-content-center w-100">
        <a href="/admin/about/create" class="btn btn-dark d-flex justify-content-center align-items-center">
            Create
        </a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Image</th>
        <th class="text-center">Created Date</th>
        <th class="text-center">Updated Date</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><img src="@item.PhotoPath" width="100" height="100" alt="Alternate Text"/></td>
            <td>@item.CreatedDate.ToString("dd MMMM yyyy", new CultureInfo("az"))</td>
            <td>@(item.UpdatedDate.HasValue
                    ? item.UpdatedDate.Value
                        .ToString("dd MMMM yyyy", new CultureInfo("az"))
                    : "Not Updated")</td>
            <td class="d-flex justify-content-between" style="width: 100%;">
                <a href="/admin/about/edit/@item.Id" class="btn btn-warning me-3">Edit</a>
                <a href="/admin/about/delete/@item.Id" class="btn btn-danger ms-3">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>